
.header_img {
    width: 15em;
}
.top_header{
    width: 100%;
    display: flex;
    a{
        margin: 0 auto;        
    }
}

.bands{
    z-index: 999999999;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    img{
        max-width: 40px;
        max-height: 40px;
    }
}


@media (min-width: 600px) {
   
    .header_img{
        max-width: 1200px;
    }
}