.sidebar {
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(44, 151, 217, 1) 0%, rgb(15, 53, 102) 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Russo One", sans-serif;
    display: flex;
    z-index: 9999;
    .menu_icon {
        display: none;
    }
}

.sidebar ul {
    text-align: center;
    list-style-type: none;
    padding: 1.2rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-transform: uppercase;;
}

.sidebar ul li a:hover {
    background-color: #ffffff67;
}

@media (max-width: 576px) {
    .sidebar {
        position: relative;
        bottom: 267px;
        background: none;
        box-shadow: none;
        flex-direction: column;

        button {
            box-shadow: none !important;
        }

        .menu_icon {
            display: block;
            position: relative;
            right: 5px;
            top: 10px;
            z-index: 999999999;
        }

        ul {
            &.menu_closed {
                display: none;
            }
           
            &.menu_open {
                background: linear-gradient(180deg, rgba(44, 151, 217, 1) 0%, rgb(15, 53, 102) 100%);
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100vw;
                height: 100vh;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                z-index: 9999999;
          
                touch-action: none;
            }
        }
    }

    .sidebar li {
        line-height: 12px;
    }
}