# CODEOWNERS - Define who can approve changes to specific files
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Workflow files can only be modified by DevGabLow
/.github/workflows/ @DevGabLow

# GitHub configuration files (including this CODEOWNERS) can only be modified by DevGabLow
/.github/CODEOWNERS @DevGabLow
