.menu_lateral {
    position: fixed;
    margin: 80px 40px;
    width: 320px;
    background-color: #fff;
    top: 460px;
    border-top: 2px solid #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 2;
}

.menu_lateral ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu_lateral li {
    position: relative;

}

.menu_lateral a {
    display: block;
    height: 100%;
    padding: 15px 18px;
    font-size: medium;
    color: #000;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.menu_lateral a:hover {

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* Submenu que aparece ao lado */
.menu_lateral {
    .submenu {
        display: none;
        position: absolute;
        top: 0px;
        left: 320px;
        background-color: #fff;
        min-width: 320px;
        z-index: 2;

    }
}

.submenu li a {

    height: 100%;
    padding: 15px 18px;
    background-color: #fff;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.submenu li a:hover {
    background-color: rgba($color: #cccccc, $alpha: .6);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

/* Mostrar submenu ao passar o mouse */
.menu_lateral li:hover>.submenu {

    display: block;
}

.multi_arrow {
    display: flex !important;
    justify-content: space-between !important;
}

@media (max-width: 576px) {
    .menu_lateral {
        position: static;
        margin: 0px;
        margin-top: -30px;
        margin-bottom: 20px;
        width: 100%;

        .submenu {
            display: none;
            position: absolute;
            top: 45px;
            left: 0px;
            background-color: #fff;
            width: 100%;
            z-index: 1000;

        }
    }
}