.container_horario {
    padding: 10px;
    border-radius: 16px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    width: auto;
    min-width: 300px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
}


@media (max-width: 576px) {
    .container_horario{
        position: relative;
        bottom: 40px;
    }
}