body {
    height: 100%;
    background-color: #0e0d0d;
}

main {
    min-width: 100%;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
}

.max-width-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

footer {
    margin-top: 20px !important;
    min-width: calc(100vw - 2rem);
    min-height: calc(100vh - 500px);
    background-color: #e0aa2a;  
    align-content: center;
    .footer-links{
        display: flex;
        font-size: 14pt;
        text-decoration: none;
        color: #fff3f3;
        font-weight: bold;
        gap: 2.5rem;
    }
    .footer-section {
       
        display: flex;
        &.one {
            align-items: center;
            height: 100%;
            width: 100%;
        }

        &.two {
            position: relative;
            top: 55px;
            justify-content: center;
             color: #353535;
             font-weight: bold;
             padding: .5rem;
            height: 100%;
            width: 100%;
        }
    }
}