.main_tag {
    min-width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_beta {
    display: flex;
    width: 95vw;
    gap: 0.5rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    .beta_item {
        text-decoration: none;
        padding: 20px;
        flex: 1;
        background-image: var(--img);
        background-size: cover;
        /* Mantém proporção e cobre todo o espaço */
        background-position: center;
        /* Sempre centra a imagem */
        background-repeat: no-repeat;
        /* Evita repetição */

        height: 60vh;
        /* Painel preenche a tela inteira verticalmente */
        filter: grayscale(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease;
        border: 4px solid #3e494e;
        /* contorno azul cristal */

        border-radius: 8px;

        h1 {
            color: white;
            font-size: 3.5rem;
            text-align: center;
            letter-spacing: 2px;
            font-weight: 900;
            text-transform: uppercase;
            /* Glow azul do RO */
            text-shadow:
                0 0 10px #7dd3fc,
                0 0 20px #7dd3fc,
                0 0 30px #38bdf8;
            z-index: 2;
        }


        &:hover {
            flex: 2;
            filter: grayscale(0%);
            transition: 0.3s ease;
        }

    }
}

.all_server {
    margin-top: .5rem;
    text-align: center;

    button {
        font-size: 12pt;
        background: none;
        border: none;
        color: #e0aa2a;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }
}