.dispose{
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.link_carrinho {
    position: fixed;
    bottom: 20px;
    right: 5px;
    background-color: #1976d2;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    .icon {
        margin-right: 8px
    }
}
.wts{
    position: relative;
    bottom: 40px;
}

@media (max-width: 576px) {
    .counter {
        display: none;
    }

    .icon {
        margin-right: 0px!important;
    }
}